{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "standard"
    ],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "@typescript-eslint/no-var-requires": 0,
    }
}
