.chat {
    display: grid;
    grid-template-areas: "a" "b";
    grid-template-rows: 1fr 50px;
    height: 100vh;
    max-width: 700px;
    margin: 0 auto;
}

.output {
    grid-area: "a";
    overflow-y: scroll;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.currentMove {
    height: 100vh;
    display: grid;
    place-content: center;
}

.msg {
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
}

.msg * {
    font-family: var(--mono);
}

.msg > p {
    margin: 15px;
}

.msg[data-role="user"] {
    color: #fcf;
    text-align: center;
}

.msg[data-role="assistant"] {
    text-align: left;
}

.input {
    grid-area: "b";
    display: flex;
}

.send, .text {
    height: 100%;
    background-color: inherit;
    color: inherit;
    border: 1px solid #fff;
}

.send {
    width: 80px;
}

.text {
    width: calc(100% - 80px);
}
