.chat {
    display: grid;
    grid-template-areas: "a" "b";
    grid-template-rows: 1fr 50px;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.output {
    grid-area: "a";
    overflow-y: scroll;
}

.msg {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    place-content: center;
    padding: 20px;
}

.msg[data-role="user"] {
    color: #fcf;
    text-align: center;
}

.input {
    grid-area: "b";
    display: flex;
}

.send, .text {
    height: 100%;
    background-color: inherit;
    color: inherit;
    border: 1px solid #fff;
}

.send {
    width: 80px;
}

.text {
    width: calc(100% - 80px);
}
